h1 {
	color: #264653;
}
.square {
	width: 50%;
	height: 100px;
}
#blue {
	background-color: #2A9D8F;
}
#yellow {
	background-color: #E9C46A;
}
#orange {
	background-color: #F4A261;
}
#red {
	background-color: #E76F51;
}