h1 {
	text-align: center;
}
.square {
	font-family: monospace;
	width: 50%;
	height: 100px;
	text-align: center;
	padding: 15px;
}
#brown {
	background-color: #9C6615;
	text-align: center;
}
#yellow {
	background-color: #EBB912;
	text-align: center;
}
#old {
	position: absolute;
	right: 40%;
}

body {
	background-color: #7F9C96;
}

p {
	border-style: dotted;
	border-color: #755C1B;
	width: 25%;
	font-family: monospace;
	text-align: center;
	position: absolute;
	left: 63%;
	padding: 10px;
	color: #EBB912;
}