body {
	background-color: #eaeaea;
	color: #;
}
h1 {
	color: #;
	text-align: center;
	font-family: 'Lexend Peta', sans-serif;
	font-size: ;
}
.text {
	background-color: ;
	color:;
	text-align: center;
	padding: ;
	font-family: ;
	font-weight: ;
	font-size: ;
}