body {
	background-color: #eaeaea;
	color: #;
}
a:link {
	color: #6b705c;
	text-decoration: none;
}
h1 {
	color: #;
	text-align: center;
	font-family: 'Lexend Peta', sans-serif;
	font-size: ;
	margin: auto;
	width: 300px;
	border: 4px solid #6b705c;
	border-color: #6b705c;
	padding: 20px;
}
.title {
	background-color: ;
	color:;
	text-align: center;
	padding: ;
	font-family: ;
	font-weight: ;
	font-size: ;
	border: ;
	border-color: ;

}
.link {
	color: #6b705c;
	text-align: left;
	font-family: 'Lexend Peta', sans-serif;
	font-weight: ;
	font-size: ;
	text-decoration: none;
}
.banner {
	position: relative;
	top: 2em;
	bottom: 75%;
	left: ;
	right: ;
	margin: auto;

	/*make sure photo is centerd*/
}