body {
	background-color: #718355;
	color: #EDC531;
}
.text {
	background-color: #97a97c;
	color: #344e41;
	text-align: center;
	padding: 5px;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}
h1 {
	color: #EDC531;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-weight: bolder;
	font-size: 3em;
	line-height: 0.2em;
}
h2 {
	color: #EDC531;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-weight: bolder;
	line-height: 0.5em;
}
h3 {
	color: #EDC531;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-weight: 50;
	line-height: 0.5em;
}
p: firsr-letter {
	font-family: 'Quintessential', cursive;
}
/*not sure why this first letter is not showing up on the site*/
p {
	font color: #283618;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}
